{% load static %}

<div class="box box-manage">
    <div class="box-body d-flex pd-7 pb-0">
        <div class="me-auto w-55">
            <h5 class="card-title text-white fs-30 font-w500 mt-4">
                Support Us if you can 🤗 💖
            </h5>
            <p class="mb-0 text-o7 fs-18 font-w500 pb-11">
                Please Support Us by feedbacks, issues or anything would suffice.
            </p>
        </div>
        <div class="btn-now">
            <a class="h6 font-w500" href="https://github.com/BirnadinErick/lab-ctrl"><span>
                Support lab-Ctrl Now!
            </span></a>
        </div>
    </div>

</div>