<div class="box">
    <div class="box-header">
        <div class="me-auto">
            <h4 class="card-title">
                {% comment %} TODO: Tell what family it is {% endcomment %}
                Aden LAN Report
            </h4>
            <p>
                DNS Report
            </p>
        </div>
    </div>
    <div class="box-body pt-0">
        <div class="row">
            
            {% comment %} Value listing {% endcomment %}
            <div class="col-6 col-xl-12 w-sm-100 mb-0">
                <ul class="box-list mt-26 pr-67">
                    <li><span class="bg-primary square"></span>youtube.com<span>25%</span></li>
                    <li><span class="bg-success square"></span>*.google.com<span>18%</span></li>
                    <li><span class="bg-warning square"></span>Others<span>12.50%</span></li>
                </ul>
            </div>
            
            {% comment %} Pie Chart Compilation {% endcomment %}
            <div class="col-6 col-xl-12 w-sm-100 mb-0">
                <div class="canvas-container">
                    <canvas id="chartjs-4" class="chartjs" width="100" height="100"></canvas>
                    <div class="chart-data">
                        <div data-percent="40" data-color="#3C21F7" data-label="youtube.com"></div>
                        <div data-percent="15" data-color="#00BC8B" data-label="*.google.com"></div>
                        <div data-percent="45" data-color="#000" data-label="Others"></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>