{% load static %}

<div class="box f-height">
    <div class="box-header d-flex justify-content-between mb-wrap">
        <h3 class="mt-9 ml-5">
            Mean Load of Children
        </h3>
        <ul class="card-list mb-0">
            <li class="custom-label"><span></span>
                CPU %
            </li>
            <li class="custom-label"><span></span>
                Memory %
            </li>
        </ul>
    </div>
    <div class="box-body pt-20">
        <div id="mean-chart"></div>
    </div>
</div>