<div class="box">
    <div class="box-body center">
        <div class="w-100"><span class="donut-2 w-100" data-peity='{ "fill": ["#9B8DFF", "#E4EAF8"]}'>{{rc}}</span>
        </div>
        <h5 class="fs-20 mb-0 mt-20 font-w500 color-text mt-28">
            Unresponsive Children
            <span class="text-primary font-w600 pl-8">{{rc|add:tc}}% </span>
        </h5>
        <h5 class="fs-22 mt-18 mb-10 font-wb">
            Rogue Moments
        </h5>
        <p class="fs-18 mt-18">
            Thses children have been unresponsive since last supper call.
        </p>
    </div>
</div>