{% extends 'watchdog/base.html' %}
{% load static %}

{% block body %}
<div class="main">


    <div class="main-content dashboard">
        
        {% comment %} Quick Bubbles {% endcomment %}
        <div class="row">
            <div class="col-12">
                {% include 'dashboard/components/QuickBubbles.html' %}
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-6 col-md-6 col-sm-12 mb-0">
                <div class="row">
                    <div class="col-12">
                        {% comment %} Mean Chart {% endcomment %}
                        {% include 'dashboard/components/MeanChart.html' %}
                    </div>
                    
                    <div class="col-6 col-xl-12 col-sm-12">
                        {% comment %} Healthy Children Report {% endcomment %}
                        {% include 'dashboard/components/HealthyChildren.html' %}
                    </div>
                    
                    <div class="col-6 col-xl-12 col-sm-12">
                        {% comment %} Running Smart Task Progress {% endcomment %}
                        {% include 'dashboard/components/RunningSTask.html' %}
                    </div>
                    
                    <div class="col-6 col-xl-12 col-sm-12">
                        {% comment %} Smart Tasks Report {% endcomment %}
                        {% include 'dashboard/components/STasksReport.html' %}
                    </div>
                    
                    <div class="col-6 col-xl-12 col-sm-12">
                        {% comment %} Smart Tasks Compare Report {% endcomment %}
                        {% include 'dashboard/components/STasksCompare.html' %}
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="col-6 col-md-6 col-sm-12 mb-0">
                <div class="row">
                    
                    <div class="col-12">
                        {% comment %} Call To Support the project {% endcomment %}
                        {% include 'dashboard/components/CTSupport.html' %}
                    </div>
 
                    <div class="col-12">
                        {% comment %} Children Report {% endcomment %}
                        {% include 'dashboard/components/ActiveChildren.html' %}
                    </div>
                   
                </div>
            </div>
            
        </div>


        <div id="add_project" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Join a new Child...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6 mb-0">
                                    <div class="form-group">
                                        <label>
                                            Nick Name
                                        </label>
                                        <input class="form-control" value="" type="text">
                                    </div>
                                </div>

                                <div class="col-sm-6 mb-0">
                                    <div class="form-group">
                                        <label>
                                            Assigned IP
                                        </label>
                                        <input class="form-control" value="" type="text">
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-3 mb-0">
                                    <div class="form-group">
                                        <label>Nurse Check up</label>
                                        <input placeholder="2 " class="form-control" value="" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-0">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <select class="select">
                                            <option>Minutes</option>
                                            <option selected>Hours</option>
                                            <option>Days</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-0">
                                    <div class="form-group">
                                        <label>IP Type</label>
                                        <select class="select">
                                            <option selected>Static</option>
                                            <option>Ephemeral</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Side Note</label>
                                <textarea rows="4" class="form-control" placeholder="Some side notes on this child..."></textarea>
                            </div>

                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">
                                    Join
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal custom-modal fade" id="delete_project" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Forget Child?</h3>
                            <p>Are you sure about this?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6 mb-0">
                                    <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                </div>
                                <div class="col-6 mb-0">
                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal custom-modal fade" id="edit_project" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h5 class="modal-title">Edit Child</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6 mb-0">
                                    <div class="form-group">
                                        <label>Nick Name</label>
                                        <input class="form-control" value="Gold App" type="text">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">Commit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}

{% block js %}

{% comment %} Pre process env {% endcomment %}
<script>
    const es_n = {{es_n|safe}}
    const lwst = {{lwst|safe}}
    const wst = {{wst|safe}}
    const rtst = {{rtst|safe}}
    const stst = {{stst|safe}}
</script>

<script src="{% static 'watchdog/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'watchdog/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'watchdog/libs/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'watchdog/libs/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'watchdog/libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'watchdog/libs/apexcharts/apexcharts.js' %}"></script>
<script src="{% static 'dashboard/js/populateGraph.js' %}"></script>
<script src="{% static 'dashboard/js/populateErrorsQuickBubble.js' %}"></script>
<script src="{% static 'dashboard/js/populateSTasksData.js' %}"></script>

{% endblock js %}