{% load static %}

{% comment %}
    Stylesheets(CSS3) for the whole web app.
    Someof these are not required for some pages, thus 
    resourse wastage.

    TODO: Clean up redundants

{% endcomment %}


<link rel="stylesheet" href="{% static 'watchdog/css/icons.min.css' %}">
<link rel="stylesheet" href="{% static 'watchdog/libs/date-picker/datepicker.css' %}">
<link rel="stylesheet" href="{% static 'watchdog/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'watchdog/css/grid.css' %}">
<link rel="stylesheet" href="{% static 'watchdog/css/style.css' %}">
<link rel="stylesheet" href="{% static 'watchdog/css/responsive.css' %}">