{% load static %}

<div class="dropdown d-inline-block mt-12">
    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            <span class="info d-xl-inline-block  color-span">
                <span class="d-block fs-20 font-w600">
                    
                    Birnadin E.
                </span>
                <span class="d-block mt-7" >
                    {% comment %} TODO: Indicate name of the family {% endcomment %}
                    Aden
                </span>
            </span>
                
            <i class='bx bx-chevron-down'></i>
        </button>
        {% comment %} Certain options for user to act upon {% endcomment %}
        <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" href="#"><i class="bx bx-user-details font-size-16 align-middle me-1"></i> <span>Edit Bio</span></a>
        <a class="dropdown-item" href="#"><i class="bx bx-user-plus font-size-16 align-middle me-1"></i> <span>Create New User</span></a>
        <a class="dropdown-item d-block" href="#"><i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span>App Settings</span></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" href="user-login.html">
            <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> 
            <span>Logout</span>
        </a>
    </div>
</div>