{% extends 'watchdog/base.html' %}
{% load static %}

{% block body %}
<div class="main">


        <div class="main-content board">
            <div class="row">
                <div class="col-12">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">Smart Tasks in {{family}}</h4>
                            <div class="box-right d-flex">
                                <a class="btn" id="new-task-btns" href="" data-toggle="modal" data-target="#add_project">New Smart Task</a>
                                
                                <div class="dropdown ml-14">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class='bx bx-dots-vertical-rounded fs-22'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project"><i class="bx bx-trash"></i> Delete</a>
                                        <a class="dropdown-item" href="#"><i class="bx bx-edit mr-5"></i>Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="kanban-board card mb-0 pd-0">
                        <div class="box-body pd-0">
                            <div class="kanban-cont">
                                <div class="kanban-list kanban-list-to-do">
                                    <div class="kanban-header">
                                        <h6 class="card-title">Shutdown All Children</h6>
                                        <div class="dropdown">
                                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_card_modal"><i class="bx bx-cog"></i> Edit</a>
                                                <a class="dropdown-item" href="#"><i class="bx bx-git-commit"></i> Commit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project"><i class="bx bx-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-wrap">

                                        <div class="panel" id="1">
                                            <div class="kanban-box item-box">
                                                <div class="dropdown edit">
                                                    <a href="#" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_card_modal"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project"><i class="bx bx-trash"></i> Delete</a>
                                                    </div>
                                                </div>
                                                <div class="content-box">
                                                    <h6 class="title fs-16">Request Children to Shutdown</h6>
                                                    {% comment %} Add targets here {% endcomment %}
                                                    <p>
                                                        Hello world! these are the targets
                                                    </p>
                                                    <div class="d-flex justify-content-between">
                                                        {% comment %} <div class="link"><a href="#"><i class='bx bx-window-close' ></i></a></div> {% endcomment %}
                                                        <div class="time">
                                                            <p class="font-main mb-0"><i class="far fa-clock"></i>Cron</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="btn-add-card">
                                        <a class="dropdown-item font-w500 fs-16" href="#" data-toggle="modal" data-target="#add_card_modal"><i class="fas fa-plus mr-14"></i>Add a step</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add_project" class="modal custom-modal fade" role="dialog">
                    <form id="new-task-form">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Smart Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-new-task-wizard">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Smart Name</label>
                                            <input id="new-smart-name" class="form-control" value="" type="text">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Target Time in cron format</label>
                                            <input id="new-cron" placeholder="* * * * *" class="form-control" value="" type="text">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label>Smart Data</label>
                                    <textarea rows="8" id="new-smart-data" class="form-control" placeholder="Give the Smart Data">
{
    "target": "*",
    "steps": []
}
                                    </textarea>
                                </div>
                                <div class="submit-section">
                                    <button id="new-task-compute" class="btn btn-primary submit-btn">Compute</button>
                                </div>
                        </div>
                    </div>
                    </form>
                </div>
            </form>
            </div>
            <div class="modal custom-modal fade" id="delete_project" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Card</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6 mb-0">
                                        <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6 mb-0">
                                        <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit_card_modal" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Card</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Image Card</label>
                                    <input class="form-control" type="file">
                                </div>
                                <div class="form-group">
                                    <label>Card Name</label>
                                    <input type="text" class="form-control" value="Food Website hero area">
                                </div>
                                <div class="form-group">
                                    <label>Due Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date" value="">
                                    </div>
                                </div>
                                <div class="submit-section text-center">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add_card_modal" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Card</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Steps File</label>
                                    <input class="form-control" type="file">
                                </div>
                                <div class="form-group">
                                    <label>Smart Name</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                                <div class="form-group">
                                    <label>Cron</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date" value="">
                                    </div>
                                </div>
                                <div class="submit-section text-center">
                                    <button class="btn btn-primary submit-btn">Process</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    
    <script src="{% static 'watchdog/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'watchdog/libs/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'watchdog/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'watchdog/libs/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'watchdog/libs/bootstrap/js/bootstrap.min.js' %}"></script>
    
    {% comment %} App specific js files {% endcomment %}
    <script src="{% static 'smarttasks/js/newTask.js' %}"></script>
    <script src="{% static 'smarttasks/js/app.js' %}"></script>
{% endblock js %}